.tiles {
  border: 0.1rem solid green;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
