.main {
  box-sizing: border-box;
  width: 60%;
  height: 75%;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gowun Batang", serif;
}

.news {
  height: fit-content;
}
