.main {
  box-sizing: border-box;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.loading {
  height: 100%;
  margin-top: 0;
}

.news {
  width: 70%;
  height: 100%;
  margin-top: 3rem;
  align-items: flex-start;
  overflow: hidden;
}
