.main {
  box-sizing: border-box;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.loading {
  height: 100%;
  margin-top: 0;
}

.error {
  height: 100%;
  margin-top: 0;
}

.options {
  height: fit-content;
  margin-top: 3rem;
}

.news {
  width: 70%;
  height: 100%;
  margin-top: 3rem;
  align-items: flex-start;
  overflow: hidden;
}

.credits {
  width: auto;
}

@media (max-width: 768px) {
  .news {
    width: 85%;
  }
}
